/* General Styles */
body {
    background-color: #000000;
    font-family: Arial;
    color: #ffffff;
    text-align: center;
    padding-top: 150px;
}

button {
    width: fit-content;
    font-size: medium;
    padding: 5px 10px;
}

p {
    margin: 0px;
}

#hide {
    display: none;
}

/* Start Page */
.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-page-question {
    max-width: 352px;
    margin: 40px 0 60px;
}

/* Question Container */

.question-title {
    margin-bottom: 0px;    
}

.question-title-eng {
    margin-top: 5px;
    font-style: italic;
    font-weight: 400;
}

.options-container {
    display:flex;
    justify-content: center;
    gap: 10px;
    margin: 50px 0px;
    align-items: center;
}

.opt-buttons {
    padding: 5px 15px;
    font-size: 1.5rem;
}

/* Score Container */
.score-container {
    margin-top: 100px;
}

/* Answer Container */
.symbol {
    font-size: xxx-large;
    padding-bottom: 20px;
}

.next-btn {
    margin-top: 20px;
}

/* Results */
.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.final-score-box {
    margin: 40px 0;
}

.final-score {
    margin-bottom: 5px;
}